name: CI
on: [push]

jobs:
    linux-gcc:
        name: Linux GCC
        runs-on: ubuntu-22.04
        env:
            CC: gcc-12
            CXX: g++-12
        steps:
            - uses: actions/checkout@v3
            - run: |
                  sudo apt-get update
                  sudo apt-get install -y ninja-build g++-12 libstdc++-12-dev
            - run: /bin/bash .ci/install-vcpkg.sh
            - run: /bin/bash .ci/build-project.sh
            - run: ./build/src/show_info/show_info
            - run: ./build/src/example/example
            - run: ctest --output-on-failure --test-dir build

    linux-clang-libcpp:
        name: Linux Clang (libc++)
        runs-on: ubuntu-22.04
        env:
            CC: clang-14
            CXX: clang++-14
            CXXFLAGS: -stdlib=libc++
        steps:
            - uses: actions/checkout@v3
            - run: |
                  sudo apt-get update
                  sudo apt-get install -y ninja-build clang-14 libc++-14-dev libc++abi-14-dev
            - run: /bin/bash .ci/install-vcpkg.sh
            - run: /bin/bash .ci/build-project.sh
            - run: ./build/src/show_info/show_info
            - run: ./build/src/example/example
            - run: ctest --output-on-failure --test-dir build

    linux-clang-libstdcpp:
        name: Linux Clang (libstdc++)
        runs-on: ubuntu-22.04
        env:
            CC: clang-14
            CXX: clang++-14
            CXXFLAGS: -stdlib=libstdc++
        steps:
            - uses: actions/checkout@v3
            - run: |
                  sudo apt-get update
                  sudo apt-get install -y ninja-build clang-14 libc++-14-dev libc++abi-14-dev libstdc++-12-dev
            - run: /bin/bash .ci/install-vcpkg.sh
            - run: /bin/bash .ci/build-project.sh
            - run: ./build/src/show_info/show_info
            - run: ./build/src/example/example
            - run: ctest --output-on-failure --test-dir build

    mac-apple-clang:
        name: macOS AppleClang
        runs-on: macos-latest
        steps:
            - uses: actions/checkout@v3
            - run: brew install ninja
            - run: /bin/bash .ci/install-vcpkg.sh
            - run: /bin/bash .ci/build-project.sh
            - run: ./build/src/show_info/show_info
            - run: ./build/src/example/example
            - run: ctest --output-on-failure --test-dir build

    mac-gcc:
        name: macOS GCC
        runs-on: macos-latest
        env:
            CC: gcc-12
            CXX: g++-12
        steps:
            - uses: actions/checkout@v3
            - run: brew install ninja gcc@12
            - run: /bin/bash .ci/install-vcpkg.sh
            - run: /bin/bash .ci/build-project.sh
            - run: ./build/src/show_info/show_info
            - run: ./build/src/example/example
            - run: ctest --output-on-failure --test-dir build

    mac-clang-libcpp:
        name: macOS Clang (libc++)
        runs-on: macos-latest
        env:
            CC: /usr/local/opt/llvm/bin/clang
            CXX: /usr/local/opt/llvm/bin/clang++
            CXXFLAGS: -stdlib=libc++
        steps:
            - uses: actions/checkout@v3
            - run: brew install ninja llvm@15
            - run: /bin/bash .ci/install-vcpkg.sh
            - run: /bin/bash .ci/build-project.sh
            - run: ./build/src/show_info/show_info
            - run: ./build/src/example/example
            - run: ctest --output-on-failure --test-dir build

    mac-clang-libstdcpp:
        name: macOS Clang (libstdc++)
        runs-on: macos-latest
        env:
            CC: /usr/local/opt/llvm/bin/clang
            CXX: /usr/local/opt/llvm/bin/clang++
            CXXFLAGS: -stdlib=libstdc++ -isystem /usr/local/opt/gcc@12/include/c++/12 -isystem /usr/local/opt/gcc@12/include/c++/12/x86_64-apple-darwin20 -Wno-stdlibcxx-not-found
            LDFLAGS: -L/usr/local/opt/gcc@12/lib/gcc/12 -Wl,-rpath,/usr/local/opt/gcc@12/lib/gcc/12
        steps:
            - uses: actions/checkout@v3
            - run: brew install ninja llvm@15 gcc@12
            - run: /bin/bash .ci/install-vcpkg.sh
            - run: /bin/bash .ci/build-project.sh
            - run: ./build/src/show_info/show_info
            - run: ./build/src/example/example
            - run: ctest --output-on-failure --test-dir build

    windows-msvc:
        name: Windows MSVC
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v3
            - run: .ci\install-vcpkg.ps1
            - run: .ci\build-project.ps1
            - run: .\build\src\show_info\Debug\show_info.exe
            - run: .\build\src\example\Debug\example.exe
            - run: ctest --output-on-failure --test-dir build -C Debug

    windows-clang-cl:
        name: Windows Clang-cl
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v3
            - run: .ci\install-vcpkg.ps1
            - run: .ci\build-project-with-clang-cl.ps1
            - run: .\build\src\show_info\show_info.exe
            - run: .\build\src\example\example.exe
            - run: ctest --output-on-failure --test-dir build -C Debug
